body{
    background-color: #f9f7f7;
    margin:0;
    text-align:center;
    font-family: 'Dosis', sans-serif;
}

h1{
    margin:50px auto 0 auto;
    font-family: 'Over the Rainbow', cursive, sans-serif;
    font-size: 5rem;
    color:#3f72af;
    line-height: 2;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size:2.5rem;
    color:#3f72af;
}

h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    color:#2d5483;
}

a{
    color:#2d5483;
}

.heavy-text{
    text-shadow: 2px 2px 4px darkgray;
}


.top-container{
    background-color: #dbe2ef;
    padding-top:100px;
    position:relative;
}

.profile-picture{
    border-radius:50%;
    height: 250px;
    width: 250px;
}

.top-cloud{
    position:absolute;
    right:300px;
    top:50px;
}

.bottom-cloud{
    position:absolute;
    left:300px;
    bottom:300px;
}

.middle-container{

}

.bottom-container{

}