/*

0 - 320px : Small phones;
320 - 600px : phone;
600 - 900px : Tablet portrait;
900 - 1200px : Tablet landscape;
1920px + : big desktop;

$breakpoint arguement choices:
- phone-s
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px;
*/
@import url("https://fonts.googleapis.com/css?family=Exo+2:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Alata&display=swap");
.navigation {
  display: inline-block;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 100vw;
  position: absolute;
  padding: 2rem 4rem;
  top: 0;
  left: 0;
  right: 0;
  transition: all .3s;
  -webkit-transition: all .3s;
  z-index: 10; }
  .navigation__menu {
    display: flex;
    justify-content: flex-end; }
  .navigation__item {
    list-style: none;
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
    color: #dbe2ef;
    text-shadow: 0.1rem 0.1rem 0.2rem #3f72af;
    cursor: pointer;
    transition: all .2s;
    -moz-transition: all .2s; }
    .navigation__item:not(:last-child) {
      margin-right: 2rem; }
    .navigation__item:hover {
      text-shadow: 0.1rem 0.1rem 0.3rem rgba(219, 226, 239, 0.8);
      transform: translateY(-2.5px);
      -webkit-transform: translateY(-2.5px); }
  .navigation.mini {
    padding: 1rem 2rem;
    background-color: rgba(57, 62, 70, 0.4); }
  @media (max-width: 37.5em) {
    .navigation {
      display: none; } }
  @media (max-width: 20em) {
    .navigation {
      display: none; } }
  .navigation-mobile {
    position: absolute;
    margin: 0 5rem;
    font-size: 2.4rem;
    top: 10rem;
    left: 0;
    right: 0;
    z-index: 111;
    text-align: right;
    overflow: hidden;
    display: none; }
    .navigation-mobile__menu {
      display: inline-block;
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transform: translateX(150%);
      opacity: 0;
      margin-top: 1rem; }
      .navigation-mobile__menu.show {
        transform: translateX(0);
        opacity: 1; }
    .navigation-mobile__item {
      display: block;
      list-style: none;
      font-family: "Exo 2", sans-serif;
      font-weight: 400;
      color: #dbe2ef;
      text-shadow: 0.1rem 0.1rem 0.2rem #3f72af;
      cursor: pointer;
      transition: all .2s;
      -webkit-transition: all .2s;
      -moz-transition: all .2s; }
      .navigation-mobile__item:hover {
        text-shadow: 0.1rem 0.1rem 0.3rem rgba(219, 226, 239, 0.8);
        transform: translateY(-2.5px);
        -webkit-transform: translateY(-2.5px); }
    @media (max-width: 37.5em) {
      .navigation-mobile {
        display: inline-block; } }
    @media (max-width: 20em) {
      .navigation-mobile {
        display: inline-block; } }
    .navigation-mobile__button {
      background-color: #fff;
      height: 6rem;
      width: 6rem;
      position: fixed;
      top: 4rem;
      right: 4rem;
      border-radius: 50%;
      z-index: 11000;
      box-shadow: 0 1rem 3rem rgba(34, 40, 49, 0.1);
      text-align: center;
      cursor: pointer;
      transition: transform .2s;
      -webkit-transition: transform .2s; }
      .navigation-mobile__button:active {
        transform: translateY(0.2rem);
        -webkit-transform: translateY(0.2rem); }
    .navigation-mobile__icon {
      position: relative;
      margin-top: 3rem;
      /* to change it into an 'X' shape
            &__icon::before {
            top: 0;
            transform: rotate(135deg);
            }
    
            &__icon::after {
            top: 0;
            transform: rotate(-135deg);
            }
            */ }
      .navigation-mobile__icon, .navigation-mobile__icon::before, .navigation-mobile__icon::after {
        width: 3rem;
        height: 2px;
        background-color: #393e46;
        display: inline-block; }
      .navigation-mobile__icon::before, .navigation-mobile__icon::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s; 
        -webkit-transition: all .2s;}
      .navigation-mobile__icon::before {
        top: -.8rem; }
      .navigation-mobile__icon::after {
        top: .8rem; }
    .navigation-mobile__button:hover .navigation-mobile__icon::before {
      top: -1rem; }
    .navigation-mobile__button:hover .navigation-mobile__icon::after {
      top: 1rem; }

.loader-wrapper {
  height: 100vh;
  background-color: #112d4e;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center; }

.loader-casing {
  width: 6rem;
  height: 6rem;
  border: solid #3f72af 0.5rem;
  animation: loading 2s ease-in infinite;
  -webkit-animation: loading 2s ease-in infinite;
  -moz-animation: loading 2s ease-in infinite;
  overflow: hidden; }

.loader-content {
  width: 50%;
  height: 100%;
  background-color: #dbe2ef;
  animation: loading-bar 2s linear infinite;
  -webkit-animation: loading-bar 2s linear infinite;
  -moz-animation: loading-bar 2s linear infinite; }

@keyframes loading {
  0% {
    border-radius: 0;
    transform: rotate(0); }
  50% {
    border-radius: 50%;
    transform: rotate(180deg); }
  80% {
    border-radius: 3px;
    transform: rotate(360deg); }
  100% {
    border-radius: 0;
    transform: rotate(360deg); } }

@-webkit-keyframes loading {
  0% {
    border-radius: 0;
    transform: rotate(0); }
  50% {
    border-radius: 50%;
    transform: rotate(180deg); }
  80% {
    border-radius: 3px;
    transform: rotate(360deg); }
  100% {
    border-radius: 0;
    transform: rotate(360deg); } }

@keyframes loading-bar {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@-webkit-keyframes loading-bar {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

/* width */
::-webkit-scrollbar {
  width: 1rem; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

.panel {
  width: 80%;
  margin: 2rem auto;
  padding: 0 1rem;
  border: 1px solid rgba(119, 119, 119, 0.8);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8); }
  @media (max-width: 37.5em) {
    .panel {
      width: 95%; } }
  @media (max-width: 20em) {
    .panel {
      width: 97.5%; } }
  .panel__title {
    text-align: center;
    padding: 2rem; }
  .panel__content {
    font-family: "Alata", sans-serif;
    border-top: 1px solid rgba(119, 119, 119, 0.5);
    padding: 2rem; }
    .panel__content .content__header {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .panel__content .content__header-image {
        text-align: center;
        overflow: hidden;
        margin-right: 2rem;
        background-color: #fff;
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
        display: flex;
        align-items: center;
        box-shadow: 0 0 1rem rgba(119, 119, 119, 0.5);
        transition: all .2s;
        position: relative; }
        .panel__content .content__header-image img {
          width: 100%;
          transition: all .2s; }
        .panel__content .content__header-image .image-link {
          opacity: 0;
          visibility: hidden;
          width: 100%;
          position: absolute;
          z-index: 40;
          font-size: 1.5rem;
          transition: all .2s;
          color: #222831;
          text-shadow: 0 0 0.1rem #222831; }
        .panel__content .content__header-image:hover {
          box-shadow: 0 0 2rem rgba(119, 119, 119, 0.5);
          cursor: pointer; }
          .panel__content .content__header-image:hover img {
            transform: scale(0.9);
            filter: blur(2px); }
          .panel__content .content__header-image:hover .image-link {
            opacity: 1;
            visibility: visible; }
      .panel__content .content__header-text {
        max-width: 70%; }
        .panel__content .content__header-text .institution {
          font-size: 3rem;
          font-weight: 700; }
        .panel__content .content__header-text .role {
          font-size: 1.6rem;
          color: #393e46;
          font-weight: 700; }
        .panel__content .content__header-text .year {
          font-size: 1.6rem;
          color: #393e46;
          font-weight: 700; }
        @media (max-width: 37.5em) {
          .panel__content .content__header-text .institution {
            font-size: 2.5rem; }
          .panel__content .content__header-text .role {
            font-size: 1.3rem; }
          .panel__content .content__header-text .year {
            font-size: 1.3rem; } }
        @media (max-width: 20em) {
          .panel__content .content__header-text .company {
            font-size: 2.2rem; }
          .panel__content .content__header-text .role {
            font-size: 1.3rem; }
          .panel__content .content__header-text .year {
            font-size: 1.3rem; } }
    .panel__content .content__detail {
      font-family: "Alata", sans-serif;
      letter-spacing: .07rem;
      line-height: 1.5; }
      .panel__content .content__detail-text {
        font-size: 1.5rem; }
      .panel__content .content__detail-list {
        font-size: 1.5rem;
        list-style: circle inside; }
      .panel__content .content__detail .small-headings {
        display: inline-block;
        font-weight: 700; }
        .panel__content .content__detail .small-headings:first-child {
          margin-top: 2rem; }
      @media (max-width: 37.5em) {
        .panel__content .content__detail-text {
          font-size: 1.3rem; }
        .panel__content .content__detail-list {
          font-size: 1.3rem; } }
      @media (max-width: 20em) {
        .panel__content .content__detail-text {
          font-size: 1.3rem; }
        .panel__content .content__detail-list {
          font-size: 1.3rem; } }

.header__text-box {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 5vw;
  transition: all .3s; }
  @media (max-width: 56.25em) {
    .header__text-box {
      bottom: 37%; } }
  @media (max-width: 37.5em) {
    .header__text-box {
      bottom: 57%; } }
  @media (max-width: 20em) {
    .header__text-box {
      bottom: 57%; } }

.header__location-box {
  position: absolute;
  bottom: .5vh;
  left: .5vw;
  font-size: 1rem;
  font-weight: 600;
  padding: .2rem;
  color: #222831;
  border-bottom: solid 1px #3f72af; }

.section-about__photo {
  display: inline-block;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0.25rem 0.25rem 1rem rgba(34, 40, 49, 0.5);
  transition: all .2s ease;
  -webkit-transition: all .2s ease; }
  .section-about__photo > img {
    width: 100%;
    height: 100%;
    transition: all .2s;
    border-radius: 50%;
    -webkit-transition: all .2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d; }
  .section-about__photo:hover {
    box-shadow: 0.25rem 0.25rem 2rem rgba(34, 40, 49, 0.7); }
    .section-about__photo:hover img {
      transform: scale(1.05);
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05); }

.section-about__greeting {
  margin: 2rem auto; }

.section-about__text {
  margin: 4rem; }

.section-about__techstack {
  width: 100%; }
  .section-about__techstack .techstack__text {
    padding: 3rem; }
  .section-about__techstack .techstack__techs {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem; }
    .section-about__techstack .techstack__techs-icon {
      display: inline-block;
      width: 100%;
      font-size: 12rem;
      color: #112d4e;
      transition: transform .3s; }
      .section-about__techstack .techstack__techs-icon:hover {
        transform: scale(1.1); }
      @media (max-width: 37.5em) {
        .section-about__techstack .techstack__techs-icon {
          font-size: 13rem;
          margin: 1rem 0; } }
      @media (max-width: 20em) {
        .section-about__techstack .techstack__techs-icon {
          font-size: 12rem;
          margin: 1rem 0; } }
    @media (max-width: 37.5em) {
      .section-about__techstack .techstack__techs {
        flex-direction: column; } }
    @media (max-width: 20em) {
      .section-about__techstack .techstack__techs {
        flex-direction: column; } }

.header {
  height: 100vh;
  position: relative; }

.section-about {
  min-height: 100vh;
  background-color: #fff;
  padding: 15rem 20rem;
  text-align: center; }
  @media (max-width: 85.375em) {
    .section-about {
      padding: 15rem 10rem; } }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 15rem 7rem; } }
  @media (max-width: 37.5em) {
    .section-about {
      padding: 15rem 2rem; } }
  @media (max-width: 20em) {
    .section-about {
      padding: 10rem 2rem; } }

.section-bandung {
  min-height: 100vh;
  position: relative;
  padding: 15rem 4rem; }
  @media (max-width: 37.5em) {
    .section-bandung {
      padding: 15rem 0; } }
  @media (max-width: 20em) {
    .section-bandung {
      padding: 10rem 0; } }

.section-transition {
  min-height: 100vh;
  background-color: #fff; }

.section-tokyo {
  min-height: 100vh;
  position: relative;
  padding: 15rem 4rem; }
  @media (max-width: 37.5em) {
    .section-tokyo {
      padding: 15rem 0; } }
  @media (max-width: 20em) {
    .section-tokyo {
      padding: 10rem 0; } }

.bg-yuda {
  background: linear-gradient(to right bottom, rgba(63, 114, 175, 0.4), rgba(145, 109, 213, 0.4)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed; }

.bg-tokyo {
  background: linear-gradient(to right bottom, rgba(63, 114, 175, 0.4), rgba(145, 109, 213, 0.4)), url(../img/tokyo.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.bg-bandung {
  background: linear-gradient(to right bottom, rgba(63, 114, 175, 0.4), rgba(145, 109, 213, 0.4)), url(../img/bandung.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.footer {
  height: 35vh;
  background-color: #112d4e; }

@keyframes landing-text-top {
  0% {
    transform: translateY(-20%) translateX(-20%) rotate(-5deg);
    opacity: 0; }
  100% {
    transform: translateY(0) translateX(0) rotate(0);
    opacity: 1; } }

@-webkit-keyframes landing-text-top {
  0% {
    transform: translateY(-20%) translateX(-20%) rotate(-5deg);
    opacity: 0; }
  100% {
    transform: translateY(0) translateX(0) rotate(0);
    opacity: 1; } }

@-webkit-keyframes landing-text-bottom {
  0% {
    transform: translateY(-20%) translateX(-20%) rotate(-5deg);
    opacity: 0; }
  100% {
    transform: translateY(0) translateX(0) rotate(0);
    opacity: 1; } }

@keyframes landing-text-bottom {
  0% {
    transform: translateY(-20%) translateX(-20%) rotate(-5deg);
    opacity: 0; }
  100% {
    transform: translateY(0) translateX(0) rotate(0);
    opacity: 1; } }

.title {
  font-size: 6.8vw;
  text-transform: uppercase;
  font-weight: 700;
  color: #112d4e;
  text-shadow: 0.25rem 0.25rem rgba(34, 40, 49, 0.5); }
  .title--top {
    margin-bottom: -3vw;
    display: block;
    text-align: right;
    animation: landing-text-top 1.3s ease; }
  .title--bottom {
    display: block;
    text-align: right;
    animation: landing-text-bottom 1.5s ease; }

.heading-primary {
  font-size: 7rem;
  color: #112d4e;
  text-shadow: 0.25rem 0.25rem rgba(34, 40, 49, 0.5); }

.heading-secondary {
  font-size: 5rem;
  color: #112d4e;
  text-shadow: 0.25rem 0.25rem rgba(34, 40, 49, 0.5);
  margin: 3rem; }

.paragraph {
  font-size: 1.6rem; }

.u-text-italic {
  font-style: italic; }

.u-margin-bottom-sm {
  margin-bottom: 1.5rem; }

.u-margin-bottom-md {
  margin-bottom: 3rem; }

.u-margin-bottom-lg {
  margin-bottom: 4.5rem; }

.u-margin-top-sm {
  margin-top: 1.5rem; }

.u-margin-top-md {
  margin-top: 3rem; }

.u-margin-top-lg {
  margin-top: 4.5rem; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 85.375em) {
    html {
      font-size: 50%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 40%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 35%; } }
  @media (max-width: 20em) {
    html {
      font-size: 25%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  line-height: 1.4;
  color: #393e46; }

h1, h2, h3, h4, h5 {
  font-family: "Exo 2", sans-serif; }

p {
  font-family: "Alata", sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  -webkit-perspective: 2px;
  -moz-perspective: 2px;
  -ms-perspective: 2px;
  position: relative; }
