/*

0 - 320px : Small phones;
320 - 600px : phone;
600 - 900px : Tablet portrait;
900 - 1200px : Tablet landscape;
1920px + : big desktop;

$breakpoint arguement choices:
- phone-s
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px;
*/
@import url("https://fonts.googleapis.com/css?family=Exo+2:400,400i,700,700i|PT+Sans&display=swap");
.navigation {
  position: absolute;
  padding: 2rem 4rem;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 10; }
  .navigation__menu {
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
    color: #dbe2ef;
    text-shadow: 0.1rem 0.1rem 0.2rem #3f72af;
    cursor: pointer;
    transition: all .2s;
    -moz-transition: all .2s; }
    .navigation__menu:not(:last-child) {
      margin-right: 2rem; }
    .navigation__menu:hover {
      text-shadow: 0.1rem 0.1rem 0.3rem rgba(219, 226, 239, 0.8);
      transform: translateY(-2.5px);
      -moz-transform: translateY(-2.5px); }

.parallax::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.55);
  z-index: -1; }

.loader-wrapper {
  height: 100vh;
  background-color: #112d4e;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center; }

.loader-casing {
  width: 6rem;
  height: 6rem;
  border: solid #3f72af 0.5rem;
  animation: loading 2s ease-in infinite;
  overflow: hidden; }

.loader-content {
  width: 50%;
  height: 100%;
  background-color: #dbe2ef;
  animation: loading-bar 2s linear infinite; }

@keyframes loading {
  0% {
    border-radius: 0;
    transform: rotate(0); }
  50% {
    border-radius: 50%;
    transform: rotate(180deg); }
  80% {
    border-radius: 3px;
    transform: rotate(360deg); }
  100% {
    border-radius: 0;
    transform: rotate(360deg); } }

@keyframes loading-bar {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

.header__text-box {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 5vw;
  transition: all .3s; }
  @media (max-width: 37.5em) {
    .header__text-box {
      bottom: 57%;
      right: 0; } }
  @media (max-width: 20em) {
    .header__text-box {
      bottom: 57%;
      right: 0; } }

.header__location-box {
  position: absolute;
  bottom: .5vh;
  left: .5vw;
  font-size: 1rem;
  font-weight: 600;
  padding: .2rem;
  color: #222831;
  border-bottom: solid 1px #3f72af; }

.section-about__photo img {
  width: 30rem;
  border-radius: 50%;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(34, 40, 49, 0.5); }

.section-about__greeting {
  margin: 2rem auto; }

.section-about__text {
  width: 35rem;
  margin: 2rem auto; }

.bandung-education {
  text-align: center; }
  .bandung-education__panel {
    padding: 2rem;
    width: 65%;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    box-shadow: 0.5rem 0.5rem 1rem rgba(34, 40, 49, 0.8);
    border-radius: 3px;
    transition: transform .2s;
    display: grid;
    grid-template-columns: 1fr 6fr; }
    .bandung-education__panel:hover {
      transform: translateY(-0.4rem); }
    @media (max-width: 37.5em) {
      .bandung-education__panel {
        padding: 1.5rem;
        width: 100%; } }
    @media (max-width: 20em) {
      .bandung-education__panel {
        padding: 1.5rem;
        width: 100%; } }
  .bandung-education__panel:not(:last-child) {
    margin-bottom: 2rem; }

.education-image {
  width: 15rem;
  height: 15rem;
  margin: 0 auto;
  box-shadow: 0.5rem 0.5rem 1rem rgba(34, 40, 49, 0.8);
  border-radius: 50%;
  background-position: center;
  background-size: cover; }
  .education-image--1 {
    background-image: url(../img/bpkpenabur.jpg); }
  .education-image--2 {
    background-image: url(../img/ithb.jpg); }
  .education-image--3 {
    background-image: url(../img/akinosora.jpg); }

.education-text {
  text-align: left;
  padding-left: 2rem; }
  .education-text__details > a {
    color: #3f72af;
    border-bottom: solid #3f72af 1px; }

.header {
  height: 100vh;
  position: relative; }

.section-about {
  min-height: 100vh;
  background-color: #fff;
  padding: 25rem 20rem;
  text-align: center; }

.section-bandung {
  min-height: 100vh;
  padding: 4rem;
  position: relative; }

.section-transition {
  min-height: 100vh;
  background-color: #fff; }

.section-tokyo {
  min-height: 100vh;
  position: relative; }

.bg-yuda::after {
  background: linear-gradient(to right bottom, rgba(63, 114, 175, 0.4), rgba(145, 109, 213, 0.4)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top; }

.bg-tokyo::after {
  background: linear-gradient(to right bottom, rgba(63, 114, 175, 0.4), rgba(145, 109, 213, 0.4)), url(../img/tokyo.jpg);
  background-size: cover;
  background-position: center; }

.bg-bandung::after {
  background: linear-gradient(to right bottom, rgba(63, 114, 175, 0.4), rgba(145, 109, 213, 0.4)), url(../img/bandung.jpg);
  background-size: cover;
  background-position: center; }

.footer {
  height: 35vh;
  background-color: #112d4e; }

@keyframes landing-text-top {
  0% {
    transform: translateY(-20%) translateX(-20%) rotate(-5deg);
    opacity: 0; }
  100% {
    transform: translateY(0) translateX(0) rotate(0);
    opacity: 1; } }

@keyframes landing-text-bottom {
  0% {
    transform: translateY(-20%) translateX(-20%) rotate(-5deg);
    opacity: 0; }
  100% {
    transform: translateY(0) translateX(0) rotate(0);
    opacity: 1; } }

.title {
  font-size: 6.8vw;
  text-transform: uppercase;
  font-weight: 700;
  color: #112d4e;
  text-shadow: 0.25rem 0.25rem rgba(34, 40, 49, 0.5); }
  .title--top {
    margin-bottom: -3vw;
    display: block;
    text-align: right;
    animation: landing-text-top 1.3s ease; }
  .title--bottom {
    display: block;
    text-align: right;
    animation: landing-text-bottom 1.5s ease; }

.heading-primary {
  font-size: 7rem;
  color: #112d4e;
  text-shadow: 0.25rem 0.25rem rgba(34, 40, 49, 0.5); }

.heading-secondary {
  font-size: 5rem;
  color: #112d4e;
  text-shadow: 0.25rem 0.25rem rgba(34, 40, 49, 0.5);
  margin: 3rem; }

.paragraph {
  font-size: 1.6rem; }

.u-text-italic {
  font-style: italic; }

.u-margin-bottom-sm {
  margin-bottom: 1.5rem; }

.u-margin-bottom-md {
  margin-bottom: 3rem; }

.u-margin-bottom-lg {
  margin-bottom: 4.5rem; }

.u-margin-top-sm {
  margin-top: 1.5rem; }

.u-margin-top-md {
  margin-top: 3rem; }

.u-margin-top-lg {
  margin-top: 4.5rem; }

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 85.375em) {
    html {
      font-size: 50%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 40%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 35%; } }
  @media (max-width: 20em) {
    html {
      font-size: 25%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  line-height: 1.4;
  color: #393e46; }

h1, h2, h3, h4, h5 {
  font-family: "Exo 2", sans-serif; }

p {
  font-family: "PT Sans", sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  -moz-perspective: 2px;
  -ms-perspective: 2px;
  position: relative; }
